# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t') # To scrape data from url 
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = df # to display all data
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [9]:
df.head(10) # to print first 10 rows from data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [14]:
# Solution 1
print(len(chipo)) # to print the number or len to rows
pd.DataFrame(chipo['quantity']).count()

4622

quantity    4622
dtype: int64

In [27]:
# Solution 2
print("Number of Rows is = ",chipo.shape[0])

Number of Rows is =  4622

### Step 6. What is the number of columns in the dataset?

In [26]:
print("Number of columns is = ",chipo.shape[1]) # to print the number or len to Columns

Number of columns is  5

In [25]:
print(df.columns.to_list())
len('Number of columns is ',df.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

5

### Step 7. Print the name of all the columns.

In [28]:
df.columns # print names of Columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [30]:
print("The names of columns is = ",df.columns.to_list()) # print names of Columns as list

The names of columns is =  ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [33]:
chipo.index # to print range of data

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [56]:
chipo['item_name'].value_counts().index[0] # to return the largest value for data as name

'Chicken Bowl'

In [126]:
chipo['item_name'].value_counts().nlargest(1).index[0] # nlargest mean the single largest value in item_name and count the Quantity

'Chicken Bowl'

In [55]:
c = chipo.groupby('item_name').sum() # using groupby 
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

C:\Users\eissa\AppData\Local\Temp\ipykernel_15532\3410523840.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  c = chipo.groupby('item_name').sum()

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [134]:
c = chipo['item_name'].value_counts() # count every item and sort from Bigger and use head to return first item
c.head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [133]:
chipo['item_name'].value_counts().nlargest(1) # count every item and return the single largest value from data

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [60]:
chipo['choice_description'].value_counts().nlargest(1).index[0] #count every item Quantity and return the single largest value from data

'[Diet Coke]'

In [63]:
d = chipo.groupby('choice_description').sum()
d = d.sort_values(['quantity'], ascending = False)
d.head(1)

C:\Users\eissa\AppData\Local\Temp\ipykernel_15532\2920842006.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  d = chipo.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [69]:
chipo['quantity'].sum() # to know the number of order

4972

In [70]:
chipo.nunique() # every thing but unique

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

In [71]:
# Order
chipo['item_name'].nunique() # item name thing but unique

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [72]:
type(chipo['item_price'])

pandas.core.series.Series

In [76]:
chipo.dtypes['item_price']

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [88]:
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.dtypes['item_price']

dtype('float64')

In [93]:
# Function lambda 
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x) if isinstance(x, float) else x)
chipo.dtypes['item_price']

dtype('O')

In [97]:
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
except:TypeError 
chipo.dtypes['item_price']

dtype('float64')

In [98]:
chipo = chipo.replace({'item_price': '[$]'}, '', regex=True)
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x))
chipo.dtypes['item_price']

dtype('float64')

#### Step 13.c. Check the item price type

In [77]:
chipo.dtypes['item_price']

dtype('O')

### Step 14. How much was the revenue for the period in the dataset?

In [112]:
chipo['revenue'] = (chipo['item_price'] * chipo['quantity']) # to make new column to calcaulate the revenue

In [101]:
chipo.head() # to show the data frame after append revenue column

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,0.39,0.39
1,1,1,Izze,[Clementine],0.39,0.39
2,1,1,Nantucket Nectar,[Apple],0.39,0.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,0.39,0.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",6.98,13.96

In [135]:
chipo['revenue'] # the revenue Column

0        0.39
1        0.39
2        0.39
3        0.39
4       13.96
        ...
4617     1.75
4618     1.75
4619     1.25
4620     0.75
4621     0.75
Name: revenue, Length: 4622, dtype: float64

In [102]:
chipo['revenue'].sum() # calculate sum

5105.02

### Step 15. How many orders were made in the period?

In [105]:
chipo.nunique()# every thing but unique

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              57
revenue                 65
dtype: int64

In [106]:
chipo['order_id'].nunique() # count Order Id thing but unique

1834

In [114]:
chipo['order_id'].value_counts().count() # every thing but unique using the counts

1834

### Step 16. What is the average revenue amount per order?

In [120]:
# Solution 1
ch = chipo['revenue'].sum() # calculate the sum for revenue and the number of OrderId and divison to calculate the mean
OrId = chipo['order_id'].value_counts().count()
ch/OrId

2.7835441657579065

In [110]:
# Solution 2
order_revenue = chipo.groupby('order_id')['revenue'].sum() # make Group between two and calc sum and calc elmean
order_revenue.mean()

2.7835441657579065

### Step 17. How many different items are sold?

In [108]:
chipo.nunique()# every thing but unique

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              57
revenue                 65
dtype: int64

In [107]:
chipo['item_name'].nunique()  # count Item Name thing but unique

50